{{
  "build": {{
    "content": [
      {{
        "files": ["**/*.md", "**/toc.yml"],
        "exclude": [".docfx-staging/**", "obj/**", "bin/**"]
      }}
    ],
    "resource": [
      {{
        "files": ["_assets/**/*", "logo.svg", "favicon.png"],
        "exclude": [".docfx-staging/**", "obj/**", "bin/**"]
      }}
    ],
    "globalMetadata": {{
      "_appName": "{app_name}",
      "_appTitle": "{app_name}",
      "_appFooter": "<span>&copy; NoBlackBoxes &middot; <a href='https://github.com/NoBlackBoxes/LastBlackBox'>GitHub</a></span>",
      "_appLogoPath": "logo.svg",
      "_appFaviconPath": "favicon.png",
      "_enableSearch": true,
      "_disableContribution": true
    }},
    "sitemap": {{
      "baseUrl": "{site_base_url}/{slug}",
      "priority": 0.5,
      "changefreq": "weekly"
    }},
    "template": ["default", "modern", "template"]
  }}
}}
