# Build binaries
bin/

# Build outputs
build/

# Test Fakes
fakes/

# Solutions
_solutions/

# Temporary Files
tmp/
_tmp/

# Object Files
*.o

# Dependency Files
*.d

# Environment Files
.env*

# Python Binary Files
*.pyc
__pycache__

# Database files
db.sqlite3

# VIM Backup\Swap files
*~

# KiCAD Backup Files
*.kicad_pcb-bak
*.sch-bak
*-backups/

# VS Code folders and workspace
.vscode/
*.code-workspace

# OSX bullshit
.DS_Store

# VSCode Extensions
node_modules/
out/

