# Site
lastblackbox.training

# Build Binaries
bin/

# Build outputs
build/

# Test Fakes
fakes/

# Temporary Files
tmp/

# Doxygen Builds
documentation/html/
documentation/latex/

# Object Files
*.o

# Dependency Files
*.d

# Python Environments
venv/

# Python Binary Files
*.pyc
__pycache__

# Database files
db.sqlite3

# VIM Backup\Swap files
*~

# KiCAD Backup Files
fab/
*.kicad_pcb-bak
*.sch-bak

# VS Code folders and workspace
.vscode/
*.code-workspace

# VK temporary files
_vk