<!DOCTYPE html>
<head>
{% include 'pwa.html' %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/session.css')}}"/>
</head>

<html>
<body>

<title>LBB : Sensors</title>
<h2 id="session_name">LBB : Sensors</h2>
<hr>
<blockquote id="quote">"Let's start at the very beginning, a very good place to start". - <em>R&H</em></blockquote><p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/1000458082?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Structure and the Periodic Table"></iframe>
</p>
<p align="center">
<img src="https://raw.githubusercontent.com/NoBlackBoxes/LastBlackBox/master/boxes/electrons/_data/images/dipole_field_template.png" alt="dipole field template" height="250" style="border: 2px solid #000000;"/>
</p>
<h4 id="instruction">- When you need it <strong>(and you will)</strong>, then you can find the periodic table [here](../../../boxes/atoms/card/periodic_table.png)</h4>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/1000730032?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Voltage"></iframe>
</p>
{% if task_status['measure_voltage_AA'] == 1 %}
<div id="task_box_complete">
{% else %}
<div id="task_box">
{% endif %}
	<h4 id="task_label">TASK</h4>
	<h3 id="task_name">measure_voltage_AA</h3><br>
	<form id="task_form" method=post enctype=multipart/form-data>Measure the voltage of a AA battery using your Multimeter (select voltage ("V") and touch your probes to either end of the battery).	<input type="text" class="task_input_text" name = "number" required>	<br><input id="task_submit" type="submit" value="Submit">
		<input type="hidden" name="task_name" value="measure_voltage_AA"/>
	</form>
</div>
{% if task_status['measure_voltage_4xAA'] == 1 %}
<div id="task_box_complete">
{% else %}
<div id="task_box">
{% endif %}
	<h4 id="task_label">TASK</h4>
	<h3 id="task_name">measure_voltage_4xAA</h3><br>
	<form id="task_form" method=post enctype=multipart/form-data>Measure the voltage of 4xAA batteries in series (end to end). *Hint*	<br><input id="task_submit" type="submit" value="Submit">
		<input type="hidden" name="task_name" value="measure_voltage_4xAA"/>
	</form>
</div>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/1000740989?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Conductors"></iframe>
</p>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/1000743561?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Current"></iframe>
</p>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/1000755493?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Resistors"></iframe>
</p>
{% if task_status['measure_resistors'] == 1 %}
<div id="task_box_complete">
{% else %}
<div id="task_box">
{% endif %}
	<h4 id="task_label">TASK</h4>
	<h3 id="task_name">measure_resistors</h3><br>
	<form id="task_form" method=post enctype=multipart/form-data>Measure the resistance of one of your resistors.	<input type="text" class="task_input_text" name = "number" required>	<br><input id="task_submit" type="submit" value="Submit">
		<input type="hidden" name="task_name" value="measure_resistors"/>
	</form>
</div>
<h4 id="instruction">With a voltage source (battery) and resistors, then we can start building "circuits" - complete paths of conduction that allow current to flow from a location with fewer electrons (+) to a location with more electrons (-).</h4>
<blockquote id="quote"><strong><em>Note</em></strong>: This is <em>weird</em>. Electrons are the things moving. Shouldn't we say that current "flows" from the (-) area to the (+) area? Unfortunately, current was described before anyone knew about electrons and we are stuck with the following awkward convention: <strong>Current is defined to flow from (+) to (-)</strong>...even though we now know that electrons are moving the opposite way.</blockquote><h4 id="instruction">To help you build electronic circuits, we will assemble a "prototyping platform", which also happens to be the body of your robot (NB3).</h4>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/1005036900?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="NB3 Body"></iframe>
</p>
{% if task_status['assmeble_NB3_body'] == 1 %}
<div id="task_box_complete">
{% else %}
<div id="task_box">
{% endif %}
	<h4 id="task_label">TASK</h4>
	<h3 id="task_name">assmeble_NB3_body</h3><br>
	<form id="task_form" method=post enctype=multipart/form-data>Assemble the robot body (prototyping base board). Upload a photo of your NB3.<br><br><input type="file" class="task_input_photo" name = "photo" accept="image/x-png,image/jpeg,image/gif" required>	<br><input id="task_submit" type="submit" value="Submit">
		<input type="hidden" name="task_name" value="assmeble_NB3_body"/>
	</form>
</div>
<h4 id="instruction">- If you are curious how the <em>NB3 Body</em> printed circuit board (PCB) was designed, then you can find the KiCAD files here: [NB3 Body PCB](../../../boxes/electrons/NB3_body)</h4>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/1000768334?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Ohm's Law"></iframe>
</p>
{% if task_status['measure_current'] == 1 %}
<div id="task_box_complete">
{% else %}
<div id="task_box">
{% endif %}
	<h4 id="task_label">TASK</h4>
	<h3 id="task_name">measure_current</h3><br>
	<form id="task_form" method=post enctype=multipart/form-data>Build the simple circuit below and measure the current flowing when you connect the battery pack.	<input type="text" class="task_input_text" name = "number" required> You know the voltage from the batteries (V) and the resistance of the resistor (R). Does Ohm's Law hold?	<br><input id="task_submit" type="submit" value="Submit">
		<input type="hidden" name="task_name" value="measure_current"/>
	</form>
</div>
<h4 id="instruction">- <strong><em>Note</em></strong>: Measuring current with a multimeter is <strong><em>tricky</em></strong>. You can only get an accurate measurement if <strong><em>ALL</em></strong> of the current in the circuit is forced to flow through your multimeter. This means that when measuring current, your multimeter must be in <em>series</em> with the rest of the circuit. (As opposed to measuring voltage, when your multimeter is placed "parallel" to the circuit.)</h4>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/1000782478?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Voltage Dividers"></iframe>
</p>
{% if task_status['build_a_voltage_divider'] == 1 %}
<div id="task_box_complete">
{% else %}
<div id="task_box">
{% endif %}
	<h4 id="task_label">TASK</h4>
	<h3 id="task_name">build_a_voltage_divider</h3><br>
	<form id="task_form" method=post enctype=multipart/form-data>Build a voltage divider using two resistors of the same value? Measure the intermediate voltage (between the resistors).	<input type="text" class="task_input_text" name = "number" required>	<br><input id="task_submit" type="submit" value="Submit">
		<input type="hidden" name="task_name" value="build_a_voltage_divider"/>
	</form>
</div>
{% if task_status['build_a_variable_voltage_divider'] == 1 %}
<div id="task_box_complete">
{% else %}
<div id="task_box">
{% endif %}
	<h4 id="task_label">TASK</h4>
	<h3 id="task_name">build_a_variable_voltage_divider</h3><br>
	<form id="task_form" method=post enctype=multipart/form-data>Build a voltage divider using a variable resistor (potentiometer). Measure the intermediate voltage. What happens when you change the position of the internal contact (by turning the screw)?	<br><input id="task_submit" type="submit" value="Submit">
		<input type="hidden" name="task_name" value="build_a_variable_voltage_divider"/>
	</form>
</div>
<h4 id="instruction">- A video guide to completing these tasks can be found here: [Building Voltage Dividers](https://vimeo.com/1000789632)</h4>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/1000794164?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Light Sensors"></iframe>
</p>
<hr>
</body>
</html>