# The RGB LED pins are on dedicated pins and cannot be modified!
# Note that they are negative logic (write a 0 to turn on).
set_io -nowarn led_green 39
set_io -nowarn led_red	41
set_io -nowarn led_blue	40

# FTDI chip interface
set_io -nowarn serial_txd 14 # FPGA transmit to USB
set_io -nowarn serial_rxd 15 # FPGA receive from USB
set_io -nowarn spi_cs 16 # Connected to SPI flash, drive high unless using SPI flash!

# If using the FTDI MPSSE engine, the following signals apply
set_io -nowarn spi_sck 15  # Shared with the flash
set_io -nowarn spi_ssn 16  # Connected to SPI flash, drive high unless using SPI flash!
set_io -nowarn spi_mosi 17 # Shared with the flash
set_io -nowarn spi_miso 14 # Shared with the flash

# Clock (12 MHz)
set_io -nowarn clock 35

# Global Buffer
set_io -nowarn reset 44
set_io -nowarn RG 20

# GPIO pins, left side
set_io -nowarn left_leds[0] 12
set_io -nowarn left_leds[1] 11
set_io -nowarn left_leds[2] 10
set_io -nowarn left_leds[3] 9
set_io -nowarn left_leds[4] 6
set_io -nowarn left_leds[5] 4
set_io -nowarn left_leds[6] 3
set_io -nowarn left_leds[7] 2

# GPIO pins, right side
set_io -nowarn right_leds[0] 25
set_io -nowarn right_leds[1] 26
set_io -nowarn right_leds[2] 27
set_io -nowarn right_leds[3] 28
set_io -nowarn right_leds[4] 31
set_io -nowarn right_leds[5] 32
set_io -nowarn right_leds[6] 34
set_io -nowarn right_leds[7] 36
