body, html {
    height: 100%;
    margin: 0;
    background: black;
    font-family: Arial;
}

#layout {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,1.0);
    background-attachment:fixed;
    filter: brightness(10%);
}

#content {
    position: absolute; 
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(100%);
}

#link {
    color: yellow;
}

#course_heading {
    color: yellow;
    text-align: center;
    font-size: 42px;
    margin-bottom: 0px;
}

#session_heading {
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 32px;
    margin-bottom: 0px;
}

#box_heading {
    color: rgb(165, 165, 165);
    text-align: left;
    font-size: 22px;
    margin-bottom: 0px;
}

#lesson_heading {
    color: rgb(255, 255, 0);
    text-align: left;
    margin-bottom: 0px;
}
