body, html {
    height: 100%;
    margin: 0;
}

#layout {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,1.0);
    filter: brightness(10%);
}

#content {
    position: absolute; 
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(100%);
}

#logo {
    align-items: center;
    height: 35vw;
    filter: brightness(100%);

    @media screen and (max-width: 768px) {
        height: 50vw;
    }
}

#button {
    background-color: black;
    border: solid;
    border-width: 2px;
    border-radius: 11px;
    border-color: yellow;
    color: yellow;
    width: 128px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    transition-duration: 0.4s;
    font-family: Poppins;
    font-weight: bold;
}

#button:hover {
    background-color: yellow;
    color: black;
}

#message {
    color: rgb(136, 136, 136);
}
