body, html {
    height: 100%;
    margin: 0;
    background: black;
    font-family: Arial;
}

#layout {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,1.0);
    background-attachment:fixed;
    filter: brightness(10%);
}

#content {
    position: absolute; 
    top: 20%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(100%);
    background-color: rgba(0,0,0,1.0);
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

#link {
    color: yellow;
}

#course_heading {
    color: yellow;
    text-align: center;
    font-size: 22px;
    margin-bottom: 0px;
}

#lesson_name {
    color: white;
    text-align: center;
    font-size: 42px;
    margin-bottom: 0px;
}

#session_heading {
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 32px;
    margin-bottom: 0px;
}

#box_heading {
    color: rgb(165, 165, 165);
    text-align: left;
    font-size: 22px;
    margin-bottom: 0px;
}

#lesson_heading {
    color: rgb(255, 255, 0);
    text-align: left;
    margin-bottom: 0px;
}

#topic_description {
    color: yellow;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0px;
}

#quote {
    margin: auto;
    width: 40%;
    border-width: 3px;
    border-color: rgb(156, 156, 156);
    border-radius: 3px;
    border-style: solid;
    background-color: rgb(55, 55, 55);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);;
    font-weight: 400;
}

#instruction {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

#video_player {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(141, 141, 141);
    border-radius: 7px;

    @media (max-width:768px){
        width: 90%;
    }
}

#task_box {
    margin: auto;
    width: 40%;
    border-width: 7px;
    border-color: rgb(56, 56, 56);
    border-radius: 7px;
    border-style: solid;
    background-color: rgb(36, 36, 36);
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width:768px){
        width: 90%;
    }
}

#task_box_complete {
    margin: auto;
    width: 40%;
    border-width: 7px;
    border-color: rgb(251, 255, 0);
    border-radius: 7px;
    border-style: solid;
    background-color: rgb(169, 184, 135);
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width:768px){
        width: 90%;
    }
}

#task_label {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 36px;
}

#task_name {
    text-align: center;
    margin-top: 0px;
    font-size: 10px;
    color: yellow;
}

#task_form {
    text-align: center;
    font-size: 16px;
    color: white;
}

#task_submit {
    margin-top: 20px;
    border-color: white;
    border-radius: 11px;
    border-style: solid;
    background-color: yellow;
    font-weight: 600;
    font-size: 18px;
    font-family:'Poppins';
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#task_submit:hover {
    border-color: grey;
}

.task_input_text {
    width: 50px;
}