body,
html {
    height: 100%;
    margin: 0;
    background: black;
}

#layout_div {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 1.0);
    background-attachment: fixed;
    filter: brightness(10%);
}

#content_div {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 90%;
    max-width: 800px;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(100%);
    background-color: rgba(22, 22, 22, 1.0);
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(55, 55, 55);
    color: rgb(205, 205, 205);
    font-family: "Poppins", sans-serif;

    @media (max-width:768px) {
        top: 5%;
        width: 90%;
    }
}

#steps_div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

    @media (max-width:768px) {
        width: 80%;
    }
}

.task_div {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-width: 3px;
    border-color: rgb(56, 56, 56);
    border-radius: 7px;
    border-style: solid;
    background-color: rgb(36, 36, 36);
    padding: 10px;

    @media (max-width:768px) {
        width: 90%;
    }
}

#heading_div {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    @media (max-width:768px) {
        width: 80%;
    }
}
#course_heading {
    color: rgb(141, 141, 0);
    font-size: 22px;
    margin-bottom: 4px;

    @media (max-width:768px) {
        font-size: 16px;
    }
}

#lesson_heading {
    color: rgb(241, 241, 241);
    font-size: 32px;
    margin-bottom: 0px;
}

#link {
    color: yellow;
}

#quote {
    width: 80%;
    border-width: 3px;
    border-color: rgb(156, 156, 156);
    border-radius: 3px;
    border-style: solid;
    background-color: rgb(55, 55, 55);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
    ;
    font-weight: 400;
}

#instruction {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    margin: 5px;
}

.task_description {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    margin: 15px;
}

.task_result_div {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
    background-color: rgb(70, 70, 70);
}

.task_result {
    width: 90%;
    transform: translate(+5%, 0%);
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

.task_result_label {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: yellow;
    margin-bottom: 5px;
}

#lesson_description {
    text-align: justify;
    width: 80%;
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;

    @media (max-width:768px) {
        font-size: 16px;
    }
}

#watch_video_label {
    color: rgb(241, 241, 0);
    text-align: center;
    font-style: italic;
    font-size: 16px;
    margin-top: 10px;
}

#video_player {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(141, 141, 141);
    border-radius: 7px;
    width: 640px;
    height: 360px;

    @media (max-width:768px) {
        width: 320px;
        height: 180px;
    }
}

#logout_button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 4px 8px;
    border: 1px yellow;
    border-style: solid;
    border-radius: 3px;
    color: yellow;
    background-color: black;
    text-decoration: none;
    transition-duration: 0.4s;
}

#logout_button:hover {
    color: black;
    background-color: yellow;
}

#next_button {
    margin-top: 12px;
    padding: 8px 12px;
    border: 1px yellow;
    border-style: solid;
    border-radius: 7px;
    color: black;
    background-color: yellow;
    text-decoration: none;
    transition-duration: 0.4s;
    font-size: 20px;
    font-weight: 800;

    @media screen and (max-width: 768px) {
        margin-top: 16px;
    }
}

#next_button:hover {
    color: yellow;
    background-color: black;
}