body, html {
    height: 100%;
    margin: 0;
    background: black;
    font-family: Arial;
}

#layout_div {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,1.0);
    background-attachment:fixed;
    filter: brightness(10%);
}

#content_div {
    position: absolute; 
    top: 20%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(100%);
    background-color: rgba(0,0,0,1.0);
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(55, 55, 55);
    color: rgb(255, 255, 255);
}

#steps_div {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

#course_heading {
    position: absolute; 
    top: 25px;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0%);
    width: 80%;
    color: rgb(141, 141, 0);
    text-align: center;
    font-size: 22px;
    margin-bottom: 0px;
}

#lesson_name {
    color: rgb(141, 141, 141);
    text-align: center;
    font-size: 32px;
    margin-bottom: 0px;
}

#watch_video_label {
    color: rgb(241, 241, 241);
    text-align: center;
    font-style: oblique;
    font-size: 24px;
    margin-top: 10px;
}

#link {
    color: yellow;
}

#quote {
    margin: auto;
    width: 80%;
    border-width: 3px;
    border-color: rgb(156, 156, 156);
    border-radius: 3px;
    border-style: solid;
    background-color: rgb(55, 55, 55);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);;
    font-weight: 400;
}

#instruction {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}

#task_description {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
}

#task_result {
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}

#task_result_summary {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

#video_player {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(141, 141, 141);
    border-radius: 7px;

    @media (max-width:768px){
        width: 90%;
    }
}

#task_box {
    margin: auto;
    width: 40%;
    border-width: 7px;
    border-color: rgb(56, 56, 56);
    border-radius: 7px;
    border-style: solid;
    background-color: rgb(36, 36, 36);
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width:768px){
        width: 90%;
    }
}

#task_box_complete {
    margin: auto;
    width: 40%;
    border-width: 7px;
    border-color: rgb(251, 255, 0);
    border-radius: 7px;
    border-style: solid;
    background-color: rgb(169, 184, 135);
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width:768px){
        width: 90%;
    }
}

#task_label {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 36px;
}

#task_submit {
    margin-top: 20px;
    border-color: white;
    border-radius: 11px;
    border-style: solid;
    background-color: yellow;
    font-weight: 600;
    font-size: 18px;
    font-family:'Poppins';
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#task_submit:hover {
    border-color: grey;
}

.task_input_text {
    width: 50px;
}

#logout {
    position: absolute;
    top: 20px;
    right: 30px;
    margin-top: 10px;
    padding: 4px 8px;
    border: 1px yellow;
    border-style: solid;
    border-radius: 3px;
    color: yellow;
    background-color: black;
    text-decoration: none;
    transition-duration: 0.4s;

    @media screen and (max-width: 768px) {
        margin-top: 16px;
    }
}

#logout:hover {
    color: black;
    background-color: yellow;
}
