body, html {
    height: 100%;
    margin: 0;
    background: black;
    font-family: Arial;
}

#layout {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,1.0);
    background-attachment:fixed;
    filter: brightness(15%);
}

#content {
    position: absolute; 
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(100%);
}

#logo {
    align-items: center;
    width: 500px;
    height: 500px;
    filter: brightness(100%);
    margin-bottom: -10px;

    @media screen and (max-width: 768px) {
        height: 60vw;
        margin-bottom: 20px;
    }
}

#error {
    color: red;
}

#recovery {
    display: flex;
    flex-direction: column;
}

#student_email {
    z-index: 1;
    width: 450px;
    height: 32px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-size:14px;
    font-weight: bold;
}

#button {
    margin-top: 15px;
    background-color: black;
    border: solid;
    border-width: 2px;
    border-radius: 11px;
    border-color: yellow;
    color: yellow;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    font-weight: bold;

    @media screen and (max-width: 768px) {
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
        height: 32px;
        font-size: 16px;
    }
}

#button:hover {
    background-color: yellow;
    color: black;
}
