body, html {
    height: 100%;
    margin: 0;
    background: black;
    font-family: Arial;
}

#layout {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,1.0);
    background-attachment:fixed;
    filter: brightness(15%);
}

#content {
    position: absolute; 
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(100%);
}

#logo {
    align-items: center;
    width: 500px;
    height: 500px;
    filter: brightness(100%);
    margin-bottom: -10px;

    @media screen and (max-width: 768px) {
        height: 60vw;
        margin-bottom: 20px;
    }
}

#message {
    color: yellow;
}
