body {
    background-color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: rgb(255, 255, 255);
}

#box_name {
    color: yellow;
    font-size: 8px;
}

#topic_name {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
}

#topic_description {
    color: yellow;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0px;
}

#instruction {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

#video_player {
    border-width: 7px;
    border-color: rgb(86, 86, 86);
    border-radius: 7px;
}

#task_box {
    margin: auto;
    width: 40%;
    border-width: 7px;
    border-color: rgb(56, 56, 56);
    border-radius: 7px;
    border-style: solid;
    background-color: rgb(36, 36, 36);
    padding-top: 10px;
    padding-bottom: 10px;
}

#task_label {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 36px;
}

#task_name {
    text-align: center;
    margin-top: 0px;
    font-size: 10px;
    color: yellow;
}

#task_form {
    text-align: center;
    font-size: 16px;
    color: white;
}

#task_submit {
    margin-top: 20px;
    border-color: white;
    border-radius: 11px;
    border-style: solid;
    background-color: yellow;
    font-weight: 600;
    font-size: 18px;
    font-family:'Poppins';
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#task_submit:hover {
    border-color: grey;
}