[Unit]
Description=telegram-ip
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/home/student/send_telegram.sh
WorkingDirectory=/home/student

[Install]
WantedBy=default.target