<!DOCTYPE html>
<head>
{% include 'pwa.html' %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/topic_style.css')}}"/>
</head>

<html>
<body>

<title>LBB : Electrons : Batteries</title>
<h2 id="box_name">LBB : Electrons</h2>
<h3 id="topic_name">Batteries</h3>
<h4 id="topic_description">Producing a stable voltage was hard, but very useful.</h4>
<hr>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/XXX?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="LBB:Electrons:Batteries"></iframe>
</p>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/XXX?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="NB3:Electrons:Household Battery"></iframe>
</p>
{% if task_status['build_a_battery'] == 1 %}
<div id="task_box_complete">

{% else %}
<div id="task_box">

{% endif %}
	<h4 id="task_label">TASK</h4>
	<h3 id="task_name">build_a_battery</h3><br>
	<form id="task_form" method=post enctype=multipart/form-data>Build a battery. Upload a photo of your design and the voltage generated (as shown on the multimeter screen) here	<br><input id="task_submit" type="submit" value="Submit">
		<input type="hidden" name="task_name" value="build_a_battery"/>
	</form>
</div>
<h4 id="instruction"> </h4><hr>
<a href="voltage">Previous Topic</a><br>
<a href="measuring_voltage">Next Topic</a><br>
</body>
</html>