<!DOCTYPE html>
<head>
{% include 'pwa.html' %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/topic_style.css')}}"/>
</head>

<html>
<body>

<title>LBB : Electrons : Capacitors</title>
<h2 id="box_name">LBB : Electrons</h2>
<h3 id="topic_name">Capacitors</h3>
<h4 id="topic_description">Capacitors are cool.</h4>
<hr>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/625820421?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="LBB:Electrons:Capacitors"></iframe>
</p>
<h4>TASK:</h4><i>  - **Task*</i><br><form method=post enctype=multipart/form-data>Measure the capacitance of your cap.*(measure_capacitance<br><input type="submit" value="Submit"></form><hr>
<a href="voltage_divider">Previous Topic</a><br>
</body>
</html>