<!DOCTYPE html>
<html>
<body>
<title>LBB : Electrons : Conductors</title>
<h2>LBB : Electrons</h2>
<h3>Conductors</h3>
<h4>Some materials have electrons that are very loosely connected to their atom's nucleus. In a material made up of many atom's of this type, then the electrons can hop from nucleus to nucleus. The electrons can "move". We call these materials conductors.</h4>
<hr>
<p align="center">
<iframe src="https://player.vimeo.com/video/XXX?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="LBB:Electrons:Conductors"></iframe>
</p>
<hr><a href="measuring_voltage">Previous Topic</a><br><a href="resistors">Next Topic</a><br>
</body>
</html>