<!DOCTYPE html>
<head>
{% include 'pwa.html' %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/topic_style.css')}}"/>
</head>

<html>
<body>

<title>LBB : Electrons : Current</title>
<h2 id="box_name">LBB : Electrons</h2>
<h3 id="topic_name">Current</h3>
<h4 id="topic_description">Electrons, pushed by a voltage, moving in a conductor, or less so in a resistor create a current.</h4>
<hr>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/XXX?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="LBB:Electrons:Current"></iframe>
</p>
<div id="task_box">
<h4 id="task_label">TASK</h4>
<h3 id="task_name">measure_current</h3><br>
<form id="task_form" method=post enctype=multipart/form-data>Measure the current flowing across a resitor. Enter the votage you used here <input type="text" id="test" name = "test">, the resistor value here <input type="text" id="test" name = "test">, and the measured current here <input type="text" id="test" name = "test">.<br><input type="submit" value="Submit"></form></div>
<hr>
<a href="printed_circuit_boards">Previous Topic</a><br>
<a href="measuring_current">Next Topic</a><br>
</body>
</html>