<!DOCTYPE html>
<html>
<body>
<title>LBB : Electrons : Current</title>
<h1>LBB : Electrons : Current</h1>
<h4>Electrons moving in a conductor (pushed by a voltage) create a current.</h4>
<hr>
<p align="center">
<iframe src="https://player.vimeo.com/video/625820421?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="LBB:Electrons:Current"></iframe>
</p>
<h3>TASK: Measure the current flowing across a resitor.*</h3>

</body>
</html>