<!DOCTYPE html>
<head>
{% include 'pwa.html' %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/topic_style.css')}}"/>
</head>

<html>
<body>

<title>LBB : Electrons : Electric Fields</title>
<h2 id="box_name">LBB : Electrons</h2>
<h3 id="topic_name">Electric Fields</h3>
<h4 id="topic_description">Electric fields describe the force that a charged particle feels when nearby another charged particle.</h4>
<hr>
<h4 id="instruction">Watch this video...closely.</h4><p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/625820421?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="LBB:Electrons:Electric Fields"></iframe>
</p>
<h4 id="instruction">Watch this video.</h4><p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/843622939?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="NB3:Electrons:Dipoles"></iframe>
</p>
<h4 id="instruction">Use the following image as a starting point for the next task.</h4><p align="center">
<img src="/static/images/boxes/electrons/_data/images/dipole_field_template.png" alt="dipole field template" height="250" style="border: 2px solid #000000;"/>
</p><div id="task_box">
<h4 id="task_label">TASK</h4>
<h3 id="task_name">draw_a_dipole_field</h3><br>
<form id="task_form" method=post enctype=multipart/form-data>Draw the electric field around an electron(-) and a proton(+) seperated by some small distance (as experienced by another electon). Upload a photo of your field drawing. <br><br><input type="file" class="task_input_photo" name = "photo" accept="image/x-png,image/jpeg,image/gif"><br><input id="task_submit" type="submit" value="Submit"></form></div>
<hr>
<a href="voltage">Next Topic</a><br>
</body>
</html>