<!DOCTYPE html>
<head>
{% include 'pwa.html' %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/topic_style.css')}}"/>
</head>

<html>
<body>

<title>LBB : Electrons : Measuring Voltage</title>
<h2 id="box_name">LBB : Electrons</h2>
<h3 id="topic_name">Measuring Voltage</h3>
<h4 id="topic_description">We can measure voltage (and other electrical properties) with a multi-meter.</h4>
<hr>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/XXX?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="NB3:Electrons:Measuring Voltage"></iframe>
</p>
{% if task_status['measure_AA_battery'] == 1 %}
<div id="task_box_complete">
{% else %}
<div id="task_box">
{% endif %}
	<h4 id="task_label">TASK</h4>
	<h3 id="task_name">measure_AA_battery</h3><br>
	<form id="task_form" method=post enctype=multipart/form-data>Measure the voltage of a AA battery. Enter your measurement 	<input type="text" class="task_input_text" name = "number" required>.	<br><input id="task_submit" type="submit" value="Submit">
		<input type="hidden" name="task_name" value="measure_AA_battery"/>
	</form>
</div>
{% if task_status['measure_4xAA_batteries'] == 1 %}
<div id="task_box_complete">
{% else %}
<div id="task_box">
{% endif %}
	<h4 id="task_label">TASK</h4>
	<h3 id="task_name">measure_4xAA_batteries</h3><br>
	<form id="task_form" method=post enctype=multipart/form-data>Measure the voltage of 4xAA batteries in series (i.e. in your battery holder). Enter your measurement here 	<input type="text" class="task_input_text" name = "number" required>.	<br><input id="task_submit" type="submit" value="Submit">
		<input type="hidden" name="task_name" value="measure_4xAA_batteries"/>
	</form>
</div>
<hr>
<a href="batteries">Previous Topic</a><br>
<a href="conductors">Next Topic</a><br>
</body>
</html>