<!DOCTYPE html>
<html>
<body>
<title>LBB : Electrons : Measuring Resistance</title>
<h2>LBB : Electrons</h2>
<h3>Measuring Resistance</h3>
<h4>We can measure resitance (and other electrical properties) with a multi-mteter.</h4>
<hr>
<p align="center">
<iframe src="https://player.vimeo.com/video/XXX?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="NB3:Electrons:Measuring Resistance"></iframe>
</p>
<hr><a href="resistors">Previous Topic</a><br><a href="current">Next Topic</a><br>
</body>
</html>