<!DOCTYPE html>
<head>
{% include 'pwa.html' %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/topic.css')}}"/>
</head>

<html>
<body>

<title>LBB : Electrons : Ohm's Law</title>
<h2 id="box_name">LBB : Electrons</h2>
<h3 id="topic_name">Ohm's Law</h3>
<h4 id="topic_description">A simple, linear, relationship between voltage, current, and resistance.</h4>
<hr>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/XXX?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="LBB:Electrons:Ohms's Law"></iframe>
</p>
{% if task_status['- **Task*'] == 1 %}
<div id="task_box_complete">
{% else %}
<div id="task_box">
{% endif %}
	<h4 id="task_label">TASK</h4>
	<h3 id="task_name">- **Task*</h3><br>
	<form id="task_form" method=post enctype=multipart/form-data>Measure the current flowing across a resitor 	<input type="text" class="task_input_text" name = "number" required>.	<br><input id="task_submit" type="submit" value="Submit">
		<input type="hidden" name="task_name" value="- **Task*"/>
	</form>
</div>
<hr>
<a href="measuring_current">Previous Topic</a><br>
<a href="voltage_divider">Next Topic</a><br>
</body>
</html>