<!DOCTYPE html>
<head>
{% include 'pwa.html' %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/topic_style.css')}}"/>
</head>

<html>
<body>

<title>LBB : Electrons : Printed Circuit Boards</title>
<h2 id="box_name">LBB : Electrons</h2>
<h3 id="topic_name">Printed Circuit Boards</h3>
<h4 id="topic_description">Let's have a look at a printed circuit board.</h4>
<hr>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/XXX?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="NB3:Electrons:Assemble NB3 Body"></iframe>
</p>
<div id="task_box">
<h4 id="task_label">TASK</h4>
<h3 id="task_name">assemble_nb3_body</h3><br>
<form id="task_form" method=post enctype=multipart/form-data>Build your NB3 body <br><br><input type="file" class="task_input_photo" name = "photo" accept="image/x-png,image/jpeg,image/gif">.<br><input id="task_submit" type="submit" value="Submit"></form></div>
<h4 id="instruction">  </h4><hr>
<a href="prototyping">Previous Topic</a><br>
<a href="current">Next Topic</a><br>
</body>
</html>