<!DOCTYPE html>
<head>
{% include 'pwa.html' %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/topic_style.css')}}"/>
</head>

<html>
<body>

<title>LBB : Electrons : Resistors</title>
<h2 id="box_name">LBB : Electrons</h2>
<h3 id="topic_name">Resistors</h3>
<h4 id="topic_description">In other materials, some electrons are free and others are not. They can move, but not as well. They experience resistance. We call these materials resitors, and they will help us *control* electricity.</h4>
<hr>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/XXX?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="LBB:Electrons:Resistors"></iframe>
</p>
<hr>
<a href="conductors">Previous Topic</a><br>
<a href="measuring_resistance">Next Topic</a><br>
</body>
</html>