<!DOCTYPE html>
<head>
{% include 'pwa.html' %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/topic_style.css')}}"/>
</head>

<html>
<body>

<title>LBB : Electrons : Voltage Divider</title>
<h2 id="box_name">LBB : Electrons</h2>
<h3 id="topic_name">Voltage Divider</h3>
<h4 id="topic_description">Your first circuit.</h4>
<hr>
<p align="center">
<iframe id="video_player" src="https://player.vimeo.com/video/625820421?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="LBB:Electrons:Voltage Divider"></iframe>
</p>
{% if task_status['- **Task*'] == 1 %}
<div id="task_box_complete">
{% else %}
<div id="task_box">
{% endif %}
	<h4 id="task_label">TASK</h4>
	<h3 id="task_name">- **Task*</h3><br>
	<form id="task_form" method=post enctype=multipart/form-data>Build a voltage divider using two resistors and measure the "divided" voltage level. Is it what you epxected? Upload a picture of your circuit diagram with voltage and resistor values indicated <br><br><input type="file" class="task_input_photo" name = "photo" accept="image/x-png,image/jpeg,image/gif" required>.	<br><input id="task_submit" type="submit" value="Submit">
		<input type="hidden" name="task_name" value="- **Task*"/>
	</form>
</div>
<hr>
<a href="ohm's_law">Previous Topic</a><br>
<a href="capacitors">Next Topic</a><br>
</body>
</html>