<!DOCTYPE html>
<html>
<body>
<title>LBB : Electrons : Voltage</title>
<h2>LBB : Electrons</h2>
<h3>Voltage</h3>
<h4>Voltage describes the difference in net charge in one location versus another.</h4>
<hr>
<p align="center">
<iframe src="https://player.vimeo.com/video/XXX?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="LBB:Electrons:Voltage"></iframe>
</p>
<hr><a href="electric_fields">Previous Topic</a><br><a href="batteries">Next Topic</a><br>
</body>
</html>