<!DOCTYPE html>

<head>
    {% include 'pwa.html' %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/course.css')}}" />
</head>

<html>

<body>
    <title>LBB : {{course.name}}</title>
    <div id="layout" style="background-image: url({{url_for('static', filename='images/layout/layout.svg')}});"></div>
    <div id="content">
        <h3 id="course_heading">{{course.name}} </h3>
        <hr>
        <ul>
            {% for session in course.sessions %}
            <li>
                <span id="session_heading">{{ session.name }}</span>
            </li>
            <ul>
                {% for box in session.boxes %}
                <li>
                    <span id="box_heading">{{ box.name }}</span>
                </li>
                <ul>
                    {% for lesson in box.lessons %}
                    <li>
                        <a id="lesson_heading" href="{{course.slug}}/{{session.slug}}/{{box.slug}}/{{lesson.slug}}">{{lesson.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
        <hr>
    </div>
</body>

</html>