<!DOCTYPE html>
<head>
  {% include 'pwa.html' %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index_style.css')}}"/>
  
</head>
<html>
  <body>
    <div id="layout" style="background-image: url({{url_for('static', filename='images/layout/layout.png')}});"></div>
    <div id="content">
      <img id="logo" src="{{url_for('static', filename='images/logo/logo_LBB_white_text.svg')}}" alt="Last Black Box Logo">
      <button id="button" onclick="location.href='/login'" type="button">Login</button>
      <h4 id="message">You must be logged in as a student or instructor to continue.</h4>
    </div>
  </body>
</html>