<!DOCTYPE html>

<head>
    {% include 'pwa.html' %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/lesson.css')}}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>

<html>

<body>
    <title>LBB : {{course.name}}</title>
    <div id="layout_div" style="background-image: url({{url_for('static', filename='images/layout/layout.svg')}});"></div>
    <div id="content_div">
        <div id="heading_div">
            <span id="course_heading">{{course.name}} : {{session.name}} : {{box.name}}</span>
            <span id="lesson_heading">{{lesson.name}}</span>
        </div>
        <span id="lesson_description">{{ lesson.description | safe }}</span>
        <span id="watch_video_heading">Watch this video</span>
        <iframe id="video_player" src="https://player.vimeo.com/video/{{lesson.video.id}}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title={{lesson.video.name}}></iframe>
        <div id="steps_div">
            {% for step in lesson.steps %}
                {% if step.type == "task" %}
                    <div class="task_div">
                        <input type="checkbox" class="task_checkbox" id="checkbox-{{loop.index}}" data-result-id="task_result-{{loop.index}}">
                        <label for="checkbox-{{loop.index}}" id="task_description"><strong>TASK:</strong> {{ step.description | safe }}</label>
                        {% for task_step in step.steps %}
                            {% if task_step.type == "image" %}                                
                                <p align="center">
                                    {{ task_step.html | safe }}
                                </p>
                            {% else %}
                                {{ task_step.html | safe }}
                            {% endif %}
                        {% endfor %}
                        <details class="task_result" id="task_result-{{loop.index}}">
                            <summary class="task_result_summary">Target</summary>
                            {{ step.target | safe }}
                        </details>
                    </div>
                {% elif step.type == "image" %}
                    <p align="center">
                        {{ step.html | safe }}
                    </p>
                {% else %}
                    {{ step.html | safe }}
                {% endif %}
            {% endfor %}
        </div>
        <form>
            <button type="button" id="next_button">Next Lesson</button>
        </form>
        <span id"error_message"">You must complete (check) all tasks before proceeding to the next lesson.</span>
        <a id="logout_button" href="/logout">Logout</a>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Set background to max scroll height*1.2
            const content_div =  document.getElementById("content_div");
            const layout_div = document.getElementById("layout_div");
            layout_div.style.height = (content_div.scrollHeight*1.2).toString()+"px";

            // Select all checkboxes with class "task-checkbox"
            const checkboxes = document.querySelectorAll(".task_checkbox");
            const errorMessage = document.getElementById("error_message");

            function updateButtonVisibility() {
                // Set background to max scroll height*1.2
                const content_div =  document.getElementById("content_div");
                const layout_div = document.getElementById("layout_div");
                layout_div.style.height = (content_div.scrollHeight*1.2).toString()+"px";
                const allChecked = Array.from(checkboxes).every(cb => cb.checked);
                errorMessage.style.display = "none"; // Hide error message if previously shown
            }

            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener("change", function () {
                    const detailsId = this.getAttribute("data-result-id");
                    const detailsElement = document.getElementById(detailsId);
                    if (detailsElement) {
                        detailsElement.open = this.checked;
                    }
                    updateButtonVisibility();
                });
            });

            updateButtonVisibility();
        });
    </script>
</body>

</html>