<!DOCTYPE html>

<head>
  {% include 'pwa.html' %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/student.css')}}" />
</head>
<html>

<body>
  <div id="layout" style="background-image: url({{url_for('static', filename='images/layout/layout.svg')}});"></div>
  <div id="content">
    <h1 id="greeting">Hi <span id="nickname">{{student['nickname']}}</span>.</h1>
    <h3 id="status">You have opened <span id="box_count">{{progress_summary[0]}}</span> black boxes!</h3>
    <h4 id="progress"><i><span id="level_01">{{progress_summary[1]}} to Level 01</span> | <span
          id="level_10">{{progress_summary[2]}} to Level 10</span> | <span id="level_11">{{progress_summary[3]}} to
          Level 11</span></i></h4>
    {{badge | safe}}
    <a id="download" href="download">Download Your Brain Badge</a>
    <a id="continue" href="{{student.course['slug']}}">Continue <span
        id="current_course">{{student['current_course']|title}}</span></a>
    <div id="student_info">
      Name<span id="student_name">{{student['name']}}</span>
      LBB ID<span id="student_id">{{student['id']}}</span>
      Email<span id="student_email">{{student['email']}}</span>
    </div>
    <a id="update" href="update">Update your info</a>
    <a id="logout" href="logout">Logout</a>
  </div>
</body>

</html>