<!DOCTYPE html>
<head>
  {% include 'pwa.html' %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/user.css')}}"/>
</head>
<html>
  <body>
    <div id="layout" style="background-image: url({{url_for('static', filename='images/layout/layout.svg')}});"></div>
    <div id="content">
      <h1 id="greeting">Hi <span id="nickname">{{user['nickname']}}</span>.</h1>
      <h3 id="status">You have opened <span id="box_count">{{user['progress'][0]}}</span> black boxes!</h3>
      <h4 id="progress"><i><span id="level_01">{{user['progress'][1]}} to Level 01</span> | <span id="level_10">{{user['progress'][2]}} to Level 10</span> | <span id="level_11">{{user['progress'][3]}} to Level 11</span></i></h4>
      {{badge | safe}}
      <a id="download" href="download">Download Your Brain Badge</a>
      <a id="continue" href="{{user['current_course']}}/{{user['current_session']}}">Continue <span id="current_course">{{user['current_course']|replace("_", " ")|title}}</span></a>
      <div id="user_info">
        Name<span id="user_name">{{user['name']}}</span>
        LBB ID<span id="user_id">{{user['id']}}</span>
        Email<span id="user_email">{{user['email']}}</span>
      </div>
      <a id="update" href="update">Update your info</a>
      <a id="logout" href="logout">Logout</a>
    </div>
  </body>
</html>
